.sub-main {
    border: solid 1px;
    width: 780px;
    height: auto;
    float: left;
}

.top-left {
    border: solid 1px;
    width: 300px;
    height: 241px;
    float: left;
}

.top-small {
    border: solid 1px;
    float: left;
    width: 60px;
    height: 48px;
}

.center-small2 {
    border: solid 1px;
    float: left;
    width: 59px;
    height: 48px;
}



.top-right {
    border: solid 1px;
    width: 298px;
    height: 241px;
    float: right;
}

.center-right {
    width: 298px;
    float: right;
}

.small-top {
    /* border: saddlebrown; */
    height: auto;
    float: left;
    width: 180px;
}

.small-center-left {
    width: 300px;
    float: left;
}

.small-center-big {
    width: 180px;
    float: left;
}


.small-center {
    width: 180px;
}
.center-small {
    border: solid 1px;
    float:left;
    width: 180px;
    height: 144px;
    border-top: 72px solid #94618E;
    border-bottom: 72px solid #94618E;
    border-left: 90px solid #49274A;
    border-right: 90px solid #49274A;
}

.sub-main {
    position: relative;
    left: 20%;
}

.bg1{
    background-color: pink;
}
.bg2{
    background-color: aqua;
}
.bg3{
    background-color: lime;
}
.bg4{
    background-color: #f7ce3e;
}
.s-bg{
    background-color: aqua;
}
.s-bg2{
    background-color: pink;
}
.s-bg3{
    background-color: #f7ce3e;
}
.s-bg4{
    background-color: lime;
}
.top-left-inner {
    width: 100px;
    height: 100px;
    border-bottom: solid 100px #375E97;
    border-left: solid 100px #FB6542;
    position: relative;
    left: 34%;
    top: 26%;
}